VITE_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=69c3aeb5001e29bce67a
VITE_APPWRITE_DATABASE_ID=saltedhash_public
VITE_APPWRITE_PRODUCTS_COLLECTION_ID=products
VITE_APPWRITE_LEADS_COLLECTION_ID=contact_leads
VITE_APPWRITE_BUCKET_ID=product_assets

VITE_WHATSAPP_NUMBER=918930609914
VITE_CONTACT_EMAIL=askvinaybusiness@gmail.com
VITE_INSTAGRAM_URL=https://instagram.com/triu.official
VITE_LINKEDIN_URL=https://linkedin.com/company/saltedhash